@media (min-width: 375px) {

    .header {
        &__box {
            &-logo {
                height: 50px;
            }

            &-text {
                font-size: 1.8rem;
            }
        }
    }

    .aboutus {
        height: 100vh;

        &__box-text {
            font-size: 1.4rem;
        }
    }
}

@media (min-width: 540px) {

    .header {
        &__box {
            &-logo {
                height: 70px;
            }

            &-text {
                font-size: 2rem;
            }
        }
    }

    .aboutus {
        &__img {
            grid-row: 3/7;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .team {
        &__box-name {
            margin-bottom: 0.5em;
        }

        &__card {
            margin: 0 5em;
        }
    }

}

@media (min-width: 640px) {
    .aboutus {
        &__img {
            grid-row: 3/7;
        }
    }
}